.header {
    text-align: center;
}

.containerMain {
    padding: 1rem;
    background-color: lightgray;
    border-style: double;
    width: 75%;
    transform: translateX(15%);
}

.listHeader {
    text-align: center;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.listItem {
    text-align: left;
    font-size: large;
    padding-top: 1rem;
}

.aboutText {
    text-align: left;
    font-size: large;
    padding: 2%;
}